* {
  box-sizing: border-box;
}

body {
  /* background-color: #eae2b7; */
  background-color: rgb(214, 244, 210);
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

header {
  display: inline;
}

.jumbotron {
  /* background-color: #00ffca; */
  background-color: rgb(10, 114, 154);
  /* border: 1px solid white; */
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav {
  background-color: #0a4d68;
  padding: 5px;
  padding-top: 15px;
  min-height: 50px;
  position: sticky;
  margin: 0;
  top: 0;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

nav li {
  /* tambah tinggi nya */
  padding: 16px;
  display: inline;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 0;
}

nav a {
  padding: 16px;

  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

main {
  overflow: auto;
  padding: 20px;
  text-align: justify;
  padding-right: 50px;
}

h4 {
  text-transform: capitalize;
}

#content {
  float: left;
  width: 73%;
}

aside {
  background-color: rgba(255, 255, 255, 0.699);
  float: right;
  width: 25%;
  right: 0;
  /* margin-left: 3px; */
  padding-left: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.699);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.event-keyboard {
  background-color: #000;
  color: white;
  width: inherit;
  overflow-x: scroll;
  margin-bottom: 30px;
}

.img-box {
  max-width: 80%;
}

.img {
  max-width: inherit;
  /* border: solid 5px rgba(192, 192, 192, 0.699); */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  width: 80%;
  /* margin-top: 0.5rem; */
}

article h2 {
  padding-left: 8px;
}

.definisi {
  padding-left: 2rem;
  padding-right: 1rem;
}

article p,
article h4,
article h2 {
  /* padding-left: 2rem; */
  padding-right: 1rem;
}

.profil {
  text-align: center;
}

.pp {
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
  width: 180px;
  height: 180px;
  margin: 1rem auto;
  border: solid 2px black;
  border-radius: 50%;
}

#penutup .isi {
  margin-left: 2.5rem;
}

.profil h2,
.profil h4 {
  margin: 0.6rem;
  font-weight: bold;
}

footer {
  background-color: rgb(10, 114, 154);
  padding: 2px;
  text-align: center;
  color: white;
}

.dropbtn {
  /* display: none; */
  background-color: rgb(10, 114, 154);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #0a4d68;
}

.dropdown {
  /* visibility: hidden; */
  display: none;
  position: relative;
  /* display: inline; */
}

nav .list {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(10, 114, 154);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0a4d68;
}

nav a:hover {
  background-color: rgb(10, 114, 154);
}

.show {
  display: block;
}

.list-pustaka a {
  display: block;
}

@media screen and (max-width: 984px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 701px) {
  .dropdown {
    display: block;
  }

  nav .list {
    display: none;
  }
}
